In [31]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
df=pd.read_csv("ecommerce CB.csv",encoding_errors='ignore')

In [5]:
df.shape

(350, 11)

In [6]:
df.columns

Index(['Customer ID', 'Gender', 'Age', 'City', 'Membership Type',
       'Total Spend', 'Items Purchased', 'Average Rating', 'Discount Applied',
       'Days Since Last Purchase', 'Satisfaction Level'],
      dtype='object')

In [8]:
df.head()

,Customer ID,Gender,Age,City,Membership Type,Total Spend,Items Purchased,Average Rating,Discount Applied,Days Since Last Purchase,Satisfaction Level
0,101,Female,29,New York,Gold,1120.20,14,4.6,True,25,Satisfied
1,102,Male,34,Los Angeles,Silver,780.50,11,4.1,False,18,Neutral
2,103,Female,43,Chicago,Bronze,510.75,9,3.4,True,42,Unsatisfied
3,104,Male,30,San Francisco,Gold,1480.30,19,4.7,False,12,Satisfied
4,105,Male,27,Miami,Silver,720.40,13,4.0,True,55,Unsatisfied

In [9]:
df.duplicated().sum()

0

In [10]:
df.isnull().sum()

Customer ID                 0
Gender                      0
Age                         0
City                        0
Membership Type             0
Total Spend                 0
Items Purchased             0
Average Rating              0
Discount Applied            0
Days Since Last Purchase    0
Satisfaction Level          2
dtype: int64

In [11]:
df.dropna(inplace=True)

In [12]:
df["Total Spend Rounded"] = df["Total Spend"].round(0).astype(int)

In [13]:
df = df.drop("Total Spend", axis=1)

In [14]:
df = df.rename(columns={"Total Spend Rounded": "Total_spend"})

In [17]:
df["Spend_per_Item"] = df["Total_spend"] / df["Items Purchased"]

In [18]:
df["Purchase_Frequency"] = 1 / (df["Days Since Last Purchase"] + 1)

In [19]:
bins = [0, 18, 30, 45, 60, 100]
labels = ["<18", "18-30", "31-45", "46-60", "60+"]
df["Age_Group"] = pd.cut(df["Age"], bins=bins, labels=labels)

In [20]:
df["High_Value"] = df["Total_spend"] > df["Total_spend"].median()

In [21]:
df["Discount_Category"] = df["Discount Applied"].map({True: "Discounted", False: "Full Price"})

In [22]:
bins = [410, 502, 775, 1160, 1520]

labels = ["Low Spender", "Mid Spender", "High Spender", "Top Spender"]

df["Loyalty_Segment"] = pd.cut(df["Total_spend"], bins=bins, labels=labels, include_lowest=True)

In [24]:
df.describe()

,Customer ID,Age,Items Purchased,Average Rating,Days Since Last Purchase,Total_spend,Spend_per_Item,Purchase_Frequency
count,348.000000,348.000000,348.000000,348.000000,348.000000,348.000000,348.000000,348.000000
mean,275.887931,33.577586,12.632184,4.023563,26.614943,847.712644,65.247092,0.046066
std,101.304611,4.878024,4.146079,0.579145,13.474750,361.691126,9.020511,0.022566
min,101.000000,26.000000,7.000000,3.000000,9.000000,411.000000,49.500000,0.015625
25%,188.750000,30.000000,9.000000,3.500000,15.000000,506.000000,57.194444,0.025641
50%,276.500000,32.000000,12.000000,4.100000,23.000000,780.000000,67.000000,0.041667
75%,363.250000,37.000000,15.000000,4.500000,38.000000,1161.000000,73.000000,0.062500
max,450.000000,43.000000,21.000000,4.900000,63.000000,1520.000000,83.571429,0.100000

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 348 entries, 0 to 349
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Customer ID               348 non-null    int64
 1   Gender                    348 non-null    object
 2   Age                       348 non-null    int64
 3   City                      348 non-null    object
 4   Membership Type           348 non-null    object
 5   Items Purchased           348 non-null    int64
 6   Average Rating            348 non-null    float64
 7   Discount Applied          348 non-null    bool
 8   Days Since Last Purchase  348 non-null    int64
 9   Satisfaction Level        348 non-null    object
 10  Total_spend               348 non-null    int32
 11  Spend_per_Item            348 non-null    float64
 12  Purchase_Frequency        348 non-null    float64
 13  Age_Group                 348 non-null    category
 14  High_Value                348 non-null    bool
 15  Discount_Category         348 non-null    object
 16  Loyalty_Segment           348 non-null    category
dtypes: bool(2), category(2), float64(3), int32(1), int64(4), object(5)
memory usage: 38.5+ KB

In [27]:
df.to_csv("ecommerce CB.csv", index=False)

In [32]:
engine = create_engine("postgresql://postgres:920788@localhost:5432/ecommerce")

In [33]:
df.to_sql("ecommerce CB.csv", engine, index=False, if_exists="replace")

348